<p id="notice"><%= notice %></p>

<p>
  <b>Item:</b>
  <%= @task.item %>
</p>

<p>
  <b>Price:</b>
  <%= @task.price %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
